# Python
__pycache__
*.pyc
*.egg-info
dist


# Log
*.log
*.log.*
*.jsonl

# Data
data/
# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
work_dirs
data
model_zoo
settings
checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
src/model_wrapper/utils/GroundingDINO/groundingdino_swint_ogc.pth
src/model_wrapper/utils/__pycache__

# Model files and weights (large files)
Model/
*.bin
*.pth
*.pt
*.safetensors
*.ckpt
*.onnx
*.h5
*.pb

# Tools
tools/*.zip
tools/Video
tools/video_hard

# Saved outputs
saved_rgb_images/
