absl-py==2.3.1
accelerate==0.21.0
actionlib==1.14.3
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
airsim==1.8.1
altair==5.5.0
angles==1.9.14
anyio==4.8.0
async-timeout==5.0.1
attrs==24.3.0
base_local_planner==1.17.3
bitsandbytes==0.41.0
bondpy==1.8.7
braceexpand==0.1.7
camera-calibration==1.17.0
camera-calibration-parsers==1.12.1
catkin==0.8.12
catkin-pkg==1.1.0
certifi==2022.12.7
cffi==2.0.0
charset-normalizer==2.1.1
click==8.1.8
cloudpickle==3.1.2
cmake==3.25.0
contourpy==1.3.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler==0.12.1
decorator==5.2.1
decord==0.6.0
deepspeed==0.9.5
defusedxml==0.7.1
diagnostic-analysis==1.12.1
diagnostic-common-diagnostics==1.12.1
diagnostic-updater==1.12.1
distro==1.9.0
docker-pycreds==0.4.0
docutils==0.22.4
dynamic-reconfigure==1.7.6
einops==0.6.1
einops-exts==0.0.4
exceptiongroup==1.2.2
fairscale==0.4.13
fast-slic==0.4.0
fastapi==0.115.6
fastdtw==0.3.4
ffmpy==0.5.0
filelock==3.13.1
flash-attn
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.12.0
gazebo_plugins==2.9.3
gazebo_ros==2.9.3
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
gitdb==4.0.12
GitPython==3.1.44
gradio==3.35.2
gradio_client==0.2.9
# groundingdino: install from source, see README
grpcio==1.76.0
gym==0.26.2
gym-notices==0.1.0
h11==0.14.0
-e git+https://github.com/facebookresearch/habitat-lab.git@d6ed1c0a0e786f16f261de2beafe347f4186d0d8#egg=habitat
habitat-sim==0.1.7
hf-xet==1.2.0
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.27.1
idna==3.4
ifcfg==0.24
image-geometry==1.16.2
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
interactive-markers==1.12.2
Jinja2==3.1.3
jiter==0.8.2
joblib==1.4.2
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
laser-geometry==1.6.8
latex2mathml==3.77.0
lazy_loader==0.4
linkify-it-py==2.0.3
lit==15.0.7
# llamavid: install from source, see README
llava @ git+https://github.com/haotian-liu/LLaVA.git@1619889c712e347be1cb4f78ec66e7cf414ac1a6
llvmlite==0.43.0
lmdb==1.7.5
# magnum: install from habitat-sim build
Markdown==3.10
markdown-it-py==2.2.0
markdown2==2.5.2
MarkupSafe==2.1.5
matplotlib==3.10.0
mavros==1.20.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
message-filters==1.17.4
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.0
msgpack-rpc-python @ git+https://github.com/tbelhalfaoui/msgpack-rpc-python@938a57e9c26604e7e03d9971afeda810f4e43cd2
multidict==6.1.0
narwhals==1.21.1
networkx==3.2.1
ninja==1.11.1.3
nltk==3.9.2
numba==0.60.0
numpy==1.26.4
numpy-quaternion==2024.0.12
objectio==0.2.29
openai==1.59.5
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
orjson==3.10.13
packaging==24.2
pandas==2.2.3
peft==0.4.0
pillow==10.2.0
platformdirs==4.3.6
proglog==0.1.12
propcache==0.2.1
protobuf==5.29.2
psutil==6.1.1
py-cpuinfo==9.0.0
pycocotools==2.0.8
pycparser==2.23
pydantic==1.10.20
pydub==0.25.1
Pygments==2.19.1
pyinstrument==5.1.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
python-qt-binding==0.4.6
pytz==2024.2
PyYAML==6.0.2
qt-dotgraph==0.4.5
qt-gui==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
referencing==0.35.1
regex==2024.11.6
requests==2.28.1
resource-retriever==1.12.10
rich==14.2.0
rosbag==1.17.4
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.4
rosmake==1.15.10
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospkg==1.6.1
rospy==1.17.4
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rpds-py==0.22.3
rqt-action==0.4.11
rqt-bag==0.5.3
rqt-bag-plugins==0.5.3
rqt-console==0.4.14
rqt-dep==0.4.14
rqt-graph==0.4.16
rqt-gui==0.5.5
rqt-gui-py==0.5.5
rqt-image-view==0.4.19
rqt-launch==0.4.10
rqt-logger-level==0.4.13
rqt-moveit==0.5.13
rqt-msg==0.4.12
rqt-nav-view==0.5.8
rqt-plot==0.4.16
rqt-pose-view==0.5.13
rqt-publisher==0.4.12
rqt-py-common==0.5.5
rqt-py-console==0.4.12
rqt-reconfigure==0.5.7
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rqt-service-caller==0.4.12
rqt-shell==0.4.13
rqt-srv==0.4.11
rqt-tf-tree==0.6.5
rqt-top==0.4.11
rqt-topic==0.4.15
rqt-web==0.4.11
rviz==1.14.26
safetensors==0.5.1
scikit-fmm==2025.6.23
scikit-image==0.25.2
scikit-learn==1.2.2
scipy==1.15.0
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
semantic-version==2.10.0
sensor-msgs==1.13.2
sentencepiece==0.1.99
sentry-sdk==2.19.2
setproctitle==1.3.4
shellingham==1.5.4
shortuuid==1.0.13
simplejson==3.20.2
six==1.17.0
smach==2.5.3
smach-ros==2.5.3
smclib==1.8.7
smmap==5.0.2
sniffio==1.3.1
sound-play==0.3.18
starlette==0.41.3
supervision==0.26.1
svgwrite==1.4.3
sympy==1.13.1
tb-nightly==2.21.0a20251023
tensorboard-data-server==0.7.2
tf==1.13.4
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
tf2-sensor-msgs==0.7.10
threadpoolctl==3.5.0
tifffile==2025.5.10
timm==0.6.13
tokenizers==0.13.3
tomli==2.2.1
topic-tools==1.17.4
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==4.5.3
tqdm==4.67.1
transformers==4.31.0
triton==2.0.0
typer==0.20.0
typer-slim==0.20.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
urllib3==1.26.13
uvicorn==0.34.0
wandb==0.18.7
wavedrom==2.0.3.post3
webdataset==0.1.40
websockets==14.1
Werkzeug==3.1.3
xacro==1.14.20
yacs==0.1.8
yapf==0.43.0
yarl==1.18.3
